.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("../img/brod1.jpg");
    
    /* Set a specific height */
    height: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #carousel-img{
    height: 55vh; /* Adjust the desired height here */
    object-fit: cover;
  }

  /*-----------------------------------BUTTONS-----------------------------------------*/

  .btn-container {
    display: flex;  
    justify-content: center;
  }
  .btn-container .main-btn {
    height: 100px;
    width: 190px;
    border-radius: 7px; /* Adjust the height as needed */
    font-size: 16px; /* Adjust the font size as needed */
    margin-top: 15px;
    margin-bottom: 15px;
    
    background-color: rgb(47, 110, 132); /* Set the desired background color */
    color: white;
    outline: none;
    border: none;
    transition: transform 0.2s;
  }
  
  @media (max-width: 767px) {
    .btn-container .main-btn {
      height: 120px;
      width: 160px;
      border-radius: 7px; /* Adjust the height as needed */
      font-size: 16px; /* Adjust the font size as needed */
      margin-top: 15px;
      margin-bottom: 15px;
      
      background-color: rgb(47, 110, 132); /* Set the desired background color */
      color: white;
      outline: none;
      border: none;
      transition: transform 0.2s;
    }
  }

  .btn-container .main-btn:hover{
    transform: scale(1.05);
  }

  .bi{
    font-size: 30px;
  }

  #btn-text-container{
    color: black;
  }

  #btn-col {
    padding-left: 1px !important;
    padding-right: 1px !important;
  }

