/*TOP-BAR*/
.top-bar {
  background-color: rgb(47, 110, 132);
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  color: white;
  padding-right: 20px;
  padding-left: 50px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-info p {
  margin: 10px;
}

/*NAV-BAR*/

.navbar{
  background-color: rgba(255, 255, 255, 0.95)
}
#navbar_logo{
  width: 290px;
}

@media (max-width: 767px) {
  #navbar_logo{
    width: 230px;
  }
}
